CI/
CMakeLists.txt
CONTRIBUTING.md
Dockerfile
LICENSE
Makefile
README.md
THIRD-PARTY-LICENSES
cmake_install.cmake
doc/
install_manifest.txt
scripts/
CMakeFiles/
bin/
obj/
build/
xmr-stak-cpu.layout
xmr-stak-cpu.depend
config-debug.txt
CMakeCache.txt

# netbeans project files
/nbproject/

# tmp files
*~

# merge original backup files
*.orig

# KDevelop files
.kdev4/
xmr-stak.kdev4
